@import url(ginyu.css);


.jeiceHeader {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: black;
    border-radius: 10px;
    border-style:groove;
    text-align: center;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    color:red;
}

.detail {
text-align: center;
}

.container {
    vertical-align: top;
    border: black;
    border-radius: 10px;
    border-style: ridge;
    margin: 50px;
    max-width: 800px;
    max-height: 800px;
}


.pageLayout {
    display: flex;
    flex-direction: row;

}



.navMenu {
    display: flex;
    flex-direction: column;
    border: black 5px groove;
    max-width: 150px;
    height: 200px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

